@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fonts/idroid.otf);
}

:root {
    --cor0: #063D1E;
    --cor1: #2FA866;
    --cor2: #3DDC84;
    --cor3: #83E1AD;
    --cor4: #c5EBD6;
}

* {
    margin: 0px;
    padding: 0px;
}

a.externo::after{
    content: '\1f517';
}

body {
    background-color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1), var(--cor0));
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    padding-bottom: 20px;
    margin: auto;
}

nav {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: rgba(211, 211, 211, 0.322);
    color:  rgb(230, 252, 230);
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
}

main p {
    margin: 15px 0px;
    line-height: 1.5em;
    text-align: justify;
}

main p::first-letter {
    margin-left: 30px;
  }

main strong {
    color: var(--cor0);
    background-color: var(--cor3);
    font-size: 1em;
    padding: 2px 6px;
}

main img {
    width: 100%;
}

main img.centered {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor0);
    font-family: idroid;
}

main h2 {
    color: var(--cor0);
    font-family: idroid;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
}

div.video {
    position: relative;
    background-color: var(--cor0);
    margin: 0px -20px 15px -20px;
    padding-bottom: 50%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside h4 {
    background-color: var(--cor1);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside {
    background-color: var(--cor4);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.192);
}

aside ul {
    font-weight: bold;
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

footer p {
    margin:0px;
}

footer {
    background-color: var(--cor0);
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}